.bandiere-del-mondo-slider {
    z-index: 0;
}

.slick-prev, .slick-next {
    z-index: 1;
}


.slick-prev  {
    left: 10px;
}
.slick-next {
    right: 20px;
 }

.bandiere-del-mondo-slider-container {
    width: 100%; 
}

.bandiere-del-mondo-slider {
    color: #fff;
    padding: 20px;
    height: 500px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px; 
}

.testi-slider {
    text-align: left;
    margin-left: 40px;
    margin-top: 130px;
}

#testo-1-slider {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    color: #ffffff;
    text-align: left;
    margin-left: 0px;
    display: inline-block;
    padding: 0px;
    text-shadow: -0.5px -0.5px 0 gray, 0.5px -0.5px 0 gray, -0.5px 0.5px 0 gray, 0.5px 0.5px 0 gray;

    
}

#titolo-seo-title {
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px; 
    text-shadow: -0.5px -0.5px 0 gray, 0.5px -0.5px 0 gray, -0.5px 0.5px 0 gray, 0.5px 0.5px 0 gray;
    
   
}

#testo-2-slider {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 10px;  
    text-shadow: -0.5px -0.5px 0 gray, 0.5px -0.5px 0 gray, -0.5px 0.5px 0 gray, 0.5px 0.5px 0 gray;
    
}
    
.bottone-slick {
    background-color: #cd7f32;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
 
}

.bottone-slick:hover {
    background-color: #dcaf02;
}


@media (max-width: 768px) {

.bandiere-del-mondo-slider {
   height: auto;
}


.slick-prev  {
    left: 0px;
   
}

.slick-next {
    right: 0px;
 }

  .bandiere-del-mondo-slider-container {
    width: 100%; 
   
  }

#testo-1-slider {
    font-size: 14px;
}

#titolo-seo-title {
    font-size: 20px;
}

#testo-2-slider {
    font-size: 16px;
}

.bottone-slick {
   font-size: 14px;
   padding: 4px 8px;
}

.testi-slider {
    text-align: left;
    margin-left: 4px;
    margin-top: auto;
}



} /* chiusura @media (max-width: 768px)  */
